/*0-749px*/
@media only screen and (max-width:750px) {
      header{
        width: 100vw;
      }
      *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
    }
    html{
        background-color: rgb(238, 247, 253);
    }
    header{
        background-color: rgb(69, 69, 248);
        height: 40rem;
        width: 100vw;
    }
    .navigation{
        background-color: rgb(220, 235, 241);
        height: 5rem;
        width: 100%;
    }
    .logo{
        color: rgb(80, 80, 241);
        position: relative;
        top: 30px;
        left: 12rem;
        font-size: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    .navbar{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        margin-right: 10rem;
        margin-top: 0.8rem;
    }
    ul{
        list-style: none;
    }
    .heading{
        display: flex;
        color: white;
        padding: 2rem;
        justify-content: space-around;
    }
    .head-container{
        width: 30rem;
        /* padding: 10px; */
        line-height: 30px;
    }
    .hack{
        font-size: 35px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        line-height: 60px;
        padding-top: 5rem;
    }
    .headpic{
        height: 30rem;
        margin-left: 0rem;
        /* margin-right: 2rem; */
        border: 1px solid transparent;
        border-radius: 2rem;
    }
    a{
        text-decoration: none;
    }
    .btn{
        height: 50px;
        width: 250px;
        background-color: white;
        border: 1px solid rgb(217, 207, 250);
        border-radius: 10rem;
        text-align: center;
        padding: 7px;
        margin-top: 20px;
        color: rgb(100, 100, 243);
    }
    .btn:hover{
        cursor: pointer;
    }
    
    /*------------------feature-------------*/
    .feature{
        margin-top: 5rem;
        text-align: center;
        font-weight: bold;
    }
    .feature-container{
          margin: 2rem 18rem;
          /* display: flex; */
          width: 60rem;
          height: 10rem;
          /* border: 1px solid black; */
          /* justify-content: space-evenly; */
          color: rgb(85, 85, 250);
          /* padding: 0.5rem 3rem; */
          /* gap: 50px; */
          /* line-height: 100px; */
          text-align:left;
    }
    .forbes{
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 10px;
        /* padding: 10px; */
    }
    .economic{
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px 20px;
        font-weight: 100;
        /* padding: 10px; */
        /* width: 50rem;
        height: 1rem; */
    }
    .mint{
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .times{
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 10px;
        font-weight: 100;
        margin: 10px 55px;
    }
    .entrep{
        font-size: 30px;
        line-height: 50px;
    }
    .about-pic{
        margin-top: 30px;
        border:1px solid transparent;
        border-radius: 50%;
        height: 25rem;
    }
    .aboutdes{
        font-weight: 100;
        line-height: 40px;
        text-align: center;
        padding: 2rem 10rem;
    }
    .social-link {
        display: flex;
        width: 100%;
        gap: 2rem;
        justify-content:center;
        margin-left: 3rem;
        padding-right: 10rem;
      }
      .icon{
        color: blue;
        text-align: center;
        font-size: 200%;
      }
    
    /*------services---*/
    
    .services{
        text-align: center;
        margin-top: 3rem;
        font-size: 20px;
      }
      
      .journey{
        font-size: 30px;
        font-weight: bold;
      }
      .buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
      }
      .btn-com{
        background-color: blue;
        color: white;
        padding-top: 13px;
        width: 160px;
        font-size: 18px;
      }
      .com{
        color: white;
      }
      .btn-course{
        padding-top: 13px;
        width: 160px;
        font-size: 18px;
      }
      .service{
        color: black;
        margin: 1rem;
      }
      .head-container{
        font-style: normal;
        font-size: 16px;
        text-align: start;
      }
      .club{
        text-align: start;
        font-size: 30px;
        margin: 1rem 0rem;
      }
      .points{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 1rem;
        font-weight: bold;
      }
      .check{
          border: 2px solid black;
          border-radius: 50%;
          background-color: black;
          color: white;
          font-weight: bold;
          font-size: 20px;
          margin-right: 1rem;
      }
      .btn-jc{
        background-color: blue;
        color: white;
      }
      .servepic{
        height: 25rem;
        border-radius: 2rem;
      }
      .courses{
        display: flex;
        justify-content: center;
        margin: 3rem;
        gap: 2rem;
      }
      .course{
        height: 21rem;
        width: 20rem;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 14px;
        text-align: start;
      }
      .course-img{
        border-radius: 2rem 2rem 0rem 0rem;
      }
      .course>h5{
        text-align: start;
        font-size: 18px;
        margin: 1rem 0.1rem;
      }
    .btn-buy{
       width: 100%;
       padding: 0.9rem;
       margin-top: 1.5rem;
    }
    .pred{
        height: 15rem;
    }
    .p-icon{
        font-size: 200%;
        color: blue;
    }
    .slots{
        display: flex;
        justify-content: space-between;
    }
    
    /*----testimonial*/
    .testimonial{
        text-align: center;
        margin-top: 5rem;
    }
    .test{
        padding: 1rem;
        line-height: 20px;
        height: 16rem;
        width: 18rem;
    }
    .rustom{
        text-align: center;
        margin: 1rem;
    }
    .rustom-img{
        height: 3rem;
        width: 3rem;
        text-align: center;
        border-radius: 50%;
    }
    /*----media*/
    .media{
        text-align: center;
        margin: 5rem;
    }
    .media-img{
        margin-top: 2rem;
        border-radius: 2rem;
        width: 80%;
    }
    
    /*--getapp*/
    .getapp{
       width: 100vw;
       height: 62rem;
       background-color: rgb(67, 67, 249);
       border-radius: 90rem 90rem 0rem 0rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding: 5rem;
       color: white;
       line-height: 50px;
    }
    .getapp>.journey{
         font-size: 40px;
    }
    .getapp>.btn{
        width: 20rem;
        padding: 0rem;
    }
    .devices{
        display: flex;
        justify-content: space-between;
        margin: 3rem;
        gap: 2rem;
    }
    .mobile{
        height: 35rem;
        border-radius: 3rem;
    }
    .tablet{
        padding-top:10rem;
        height: 35rem;
        border-radius: 3rem;
    }
    /**contactus*/
    .contact-us{
        height: 15rem;
        width: 100vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }
    .contacts{
        display: flex;
        justify-content: space-between;
        gap: 10rem;
        margin: 2rem;
    }
    .contact{
        display: flex;
    }
    .contact>ul{
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: gray;
    }
    .link{
        color: black;
        font-weight: bold;
    }
    /*--footer*--*/
    footer{
        height: 20rem;
        width: 100vw;
        background-color: rgb(68, 68, 247);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        color: white;
        padding: 3rem;
        font-size: 40px;
        margin-right: 10rem;
    }
    .f-icon{
        color: white;
        font-size: 200%;
        margin-right: 1rem;
    }
    .store{
        margin: 1.5rem;
        margin-right: 9rem;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
    }
    .store-img{
        height: 2.5rem;
        border-radius: 0.5rem;
    }
    .copyright{
        display: flex;
        color: white;
        gap: 2rem;
        margin-right: 10rem;
    }
  }